<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>数据转换程序</title>
<script type="text/javascript" src="./static/js/jquery.js"></script>
</head>

<body>
<h1 style="font-size:22px; text-align:center; padding:10px;" id="status"></h1>
<script type="text/javascript">$("#status").html("数据转换程序")</script>
<table width="35%" height="288" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><a href="convert.php?target=admin">转换管理员数据</a></td>
    <td><a href="convert.php?target=member">转换会员数据</a></td>
  </tr>
  <tr>
    <td><a href="convert.php?target=city">转换分站数据</a></td>
    <td><a href="convert.php?target=area">转换地区数据</a></td>
  </tr>
  <tr>
    <td><a href="convert.php?target=street">转换街道数据</a></td>
    <td><a href="convert.php?target=category">转换分类数据</a></td>
  </tr>
  <tr>
    <td><a href="convert.php?target=threads">转换帖子数据</a></td>
    <td><a href="convert.php?target=vars">转换帖子选项数据</a></td>
  </tr>
</table>
</body>
</html>
