<div class="blank"></div>
<div class="wrap" id="nav2">
	<!--<a href="http://www.countycn.com/about.php?part=aboutus" target="_blank">关于我们</a>| -->
	<a href="http://www.countycn.com/announce.php" target="_blank">网站公告</a>|
	<a href="http://www.countycn.com/faq.php" target="_blank">帮助中心</a>|
	<a href="http://www.countycn.com/friendlink.php" target="_blank">友情链接</a> |
	<a href="http://weibo.com/countycn" style="color:#ff0000" target="_blank">关注我们<sup class="re"></sup></a>|<a href="http://t.qq.com/countycn" style="color:#006ffd" target="_blank">关注我们<sup class="qiang"></sup></a>
</div>
<div class="wrap" id="footer">
	<p>$config[copyright] 版权所有 $config[icp]</p>
	<p>免责声明：站内发布的所有信息为网友自行发布，本站不承担由此引起的任何法律责任，如果网站上的信息有侵犯到您的权利，请您与我们联系。</p>
</div>
<span style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa6679804621b51609fe5909a94e4bb78' type='text/javascript'%3E%3C/script%3E"));
</script>
<script src="http://s85.cnzz.com/stat.php?id=3316335&web_id=3316335" language="JavaScript"></script>
</span>
</body>
</html>{eval output();}