<div class="yourpos">
	{$lang[cp_home]}
	<span>信息管理</span>
	<span>信息列表</span>
</div>
<div class="main-div">
	<div class="titlediv">
		<span class="right">
			<form method="get" name="search" action="$BASESCRIPT">
			{if $admincp[adminid]==2}
			<select name="cityid" class="select">
				<option value="0">所有分站</option>
				{loop $cities $city}
				<option value="$city[cityid]"{if $city[cityid]==$cityid} selected="selected"{/if}>$city[cityname]</option>
				{/loop}
			</select>
			{else}
			<select name="cityid" class="select">
			<option value="0">所有分站</option>
			{loop $letters $ll}
			<optgroup label="$ll">
				{loop $cities[$ll] $city}
				<option value="$city[cityid]"{if $city[cityid]==$cityid} selected="selected"{/if}>{$ll}.$city[cityname]</option>
				{/loop}
			</optgroup>
			{/loop}
			</select>
			{/if}
			<input type="hidden" name="action" value="threads" />
			<input type="text" class="text search" name="keywords" value="$keywords" />
			<input type="submit" class="button" value="{$lang[search]}" />
			</form>
		</span>
		<strong>分类信息管理</strong>　总计{$totalrecords}条记录
	</div>
  <form method="post" name="threads" action="{$BASESCRIPT}?action=threads">
  <input type="hidden" name="submit" value="yes" />
  <input type="hidden" name="formhash" value="{FORMHASH}" />
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="formtable">
	<tr>
	  <th width="50"><input type="checkbox" class="checkbox" onclick="checkAll(this,'delete[]')" /> 删?</th>
	  <th>标题</th>
	  <th width="100">所属分站</th>
	  <th width="120">所属分类</th>
	  <th width="100">IP地址</th>
	  <th width="140">IP来源</th>
	  <th width="80">点击</th>
	  <th width="120">发布时间</th>
	</tr>
	<!--{loop $threads $tt}-->
	<tr onmouseover="this.className='hover'" onmouseout="this.className=''">
	  <td><input name="delete[]" type="checkbox" value="{$tt[tid]}" onclick="checkThis(this)" /></td>
	  <td><a href="http://{$tt[cityhost]}.$config[domain]/thread.php?category=$tt[pinyin]&tid=$tt[tid]" target="_blank">$tt[title]</a></td>
	  <td>$tt[cityname]</td>
	  <td>$tt[cname]</td>
	  <td>$tt[ip]</td>
	  <td>$tt[ip2]</td>
	  <td>$tt[views]</td>
	  <td>$tt[dateline]</td>
	</tr>
	<!--{/loop}-->
	<tr>
		<td><input type="checkbox" class="checkbox" onclick="checkAll(this,'delete[]')" /> 删?</td>
		<td colspan="7">
			<span class="pagebox">{$pagelink}</span>
			<input type="submit" class="button" name="button-submit" value="$lang[submit]" />
			<input type="button" class="button" name="" value="$lang[refresh]" onclick="LoadPage('$querystring')" />
		</td>
	</tr>
  </table>
  </form>
</div>